<template>
  <div>
    <h1>Hello AjBee</h1>
    <h2>{{myname}}</h2>
    <h3>Phone: {{phone}}</h3>
    <h3>Email: {{email}}</h3>
  </div>
</template>

<script> 
export default {
    data: () => ({
        myname: "Vittayasak",
        phone: "08123423423",
        email: "aaa@dfsdf.com"
    })
}
</script>
<style scoped>
    h1{
        color:red;
    }
</style>