<template>
 <div>
     <v-layout wrap>
        <v-flex xs12 sm6 md4>
           <v-card outlined>
              <h1>MyCard</h1>
           </v-card>
        </v-flex>

        <v-flex xs12 sm6 md4>
           <v-card outlined>
              <h1>MyCard</h1>
           </v-card>
        </v-flex>

        <v-flex xs12 sm6 md4>
           <v-card outlined>
              <h1>MyCard</h1>
           </v-card>
        </v-flex>

        <v-flex xs12 sm6 md4>
           <v-card outlined>
              <h1>MyCard</h1>
           </v-card>
        </v-flex>                

        <v-flex xs12 sm6 md4>
           <v-card outlined>
              <h1>MyCard</h1>
           </v-card>
        </v-flex>


         <v-flex xs12 sm6 md4>
           <v-card outlined>
              <h1>MyCard</h1>
           </v-card>
        </v-flex>

         <v-flex xs12 sm6 md4>
           <v-card outlined>
              <h1>MyCard</h1>
           </v-card>
        </v-flex>              
     </v-layout>
 </div>
</template>
